global
    maxconn     4096
    nbproc      2
    #debug
    daemon
    log         127.0.0.1    local0
    stats       socket {{ haproxy_sock_path }} mode 600 level admin
    stats       timeout 2m

defaults
    mode        http
    option      httplog
    log         global
    retries     3
    option      redispatch
    timeout     client  30s
    timeout     connect 30s
    timeout     server  30s


frontend access_http
    bind *:80
    mode http
    default_backend wordpress-app
    acl restricted_page path_beg /favicon.ico
    block if restricted_page


backend wordpress-app
    mode         http
    balance      roundrobin
    option       forwardfor

    {% for host in app_servers %}
    server   {{ host['name'] }}   {{ host['address'] }}:{{ host['port'] }}  check
    {% endfor %}


listen stats *:1936
    stats enable
    stats uri /
    #stats hide-version
    stats refresh 5s
