sudo: true
services:
    - docker

before_install:
    - docker info
    - docker version
    - docker build  -f test/Dockerfile  -t wordpress   .

script:
    - docker run -d --name wordpress wordpress
    - sleep 60
    - IP=$(docker inspect --format '{{ .NetworkSettings.IPAddress }}' wordpress) ; echo http://$IP:80/ > url
    - cat url  |  xargs -t -n 1 curl -v --retry 5 --retry-max-time 120 -o result-wordpress
    - grep '<title>' result-wordpress
notifications:
    webhooks: https://galaxy.ansible.com/api/v1/notifications/
